<% provide(:title, 'Home') %>

<div class="container">
  <div class="page-header">
    <h1>Home</h1>
  </div>

  <div class='row'>
  	<div class="span4 offset5"
       <p>
      	<%= link_to raw('<i class="icon-user icon-white"></i> Manage Users'), users_path, class: "btn btn-primary" %>  
      </p>
      <p>
      	<%= link_to raw('<i class="icon-cog icon-white"></i> Manage Properties'), properties_path, class: "btn btn-primary" %>  
      </p>
    </div>
  </div>
</div>


