<h1>EZDCApp Home</h1>

<div class="row">
  <div class="span6 offset3 center">
    <p><%= link_to "Manage Users", users_path %></p>
    <p><%= link_to "Manage Properties", properties_path %></p>
  </div>
</div>  