<% provide(:title, 'Add User') %>

<div class="container">
  <div class="page-header">
		<h1>Add User</h1>
  </div>

	<div class="row">
	  <div class="span6 offset3">
	    <%= form_for(@user) do |f| %>
        <%= render(:partial => 'user_fields', :object => @user,
            :locals => { :f => f, :disable_element => false}) %>      
          <br />
          <%= f.submit "Create user", :disable_with => "Please wait...", class: "btn btn-primary" %>
          <%= link_to "Cancel", users_path, class: "btn btn-primary" %>
	    <% end %>
	  </div>
  </div>
</div>
