<% provide(:title, 'Add User') %>

<div class="container">
  <div class="page-header">
		<h1>Add User</h1>
  </div>

	<div class="row">
    <div class="span4 offset4">
	    <%= form_for(@user) do |f| %>
        <%= render(:partial => 'user_fields', :object => @user,

            :locals => { :f => f, :disable_element => false}) %>  
        
        <br />
        
        <button type="submit" class="btn btn-small btn-primary" data-disable-with="Please wait...">
          <i class="icon-ok icon-white"></i> 
          Create
        </button>
        
        <%= link_to raw('<i class="icon-stop icon-white"></i> Cancel'), users_path, class: "btn btn-small btn-primary" %>

	    <% end %>
	  </div>
  </div>
</div>
