<% provide(:title, 'Add Property') %>

<div class="container">
  <div class="page-header">
    <h1>Add Property</h1>
  </div>

  <div class="row">
    <div class="span4 offset4">
      <%= form_for(@property) do |f| %>
        <%= render(:partial => 'property_fields', :object => @property,
            :locals => { :f => f, :disable_element => false }) %>
        
        <br /><br />
        
        <button type="submit" class="btn btn-small btn-primary" data-disable-with="Please wait...">
          <i class="icon-ok icon-white"></i> 
          Create
        </button>
        
        <%= link_to raw('<i class="icon-stop icon-white"></i> Cancel'), properties_path, class: "btn btn-small btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
