<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      	<div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="brand"><%= link_to "EZDC ADMIN TOOL", root_path %></div>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to raw('<i class="icon-user icon-white"></i> Users'), users_path %></li>
              <li><%= link_to raw('<i class="icon-cog  icon-white"></i> Properties'), properties_path %></li>
              <li><%= link_to raw('<i class="icon-info-sign icon-white"></i> About'), "about.html" %></li>              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </div>
</header>
